@import "./setGirdColumnsWidth";
@import "./setGridRowsHeight";

@mixin addGridColumnsRows($columns, $breakpoints, $slug) {
  @include setResponsiveStyles($breakpoints) using ($currentPrefix, $prefix) {
    $previousPrefix: getPreviousPrefix($breakpoints, $currentPrefix);
    $props: ("grid-template-columns", "grid-template-rows");

    @each $property in $props {
      $values: ();

      $previousBreakpoint: if(
        $prefix == "",
        0,
        var(--get-#{$property}#{$previousPrefix})
      );

      --get-#{$property}#{$prefix}: var(
        --#{$property}#{$prefix},
        #{$previousBreakpoint}
      );

      $value: repeat(
        var(--get-#{$property}#{$prefix}, #{$previousBreakpoint}),
        1fr
      );

      $values: append($values, $value, space);

      #{$property}: $values;
    }

    > .#{$slug}-col {
      @include setGirdColWidth($prefix, $columns, $slug);
      @include setGridRowsHeight($prefix, $columns, $slug);
    }
  }
}
