@import "./setGirdColumnsWidth";
@import "./setGridRowsHeight";

@mixin addGridColumnsRows($columns, $breakpoints, $slug) {
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($columns, 1fr);

  @include setResponsiveStyles($breakpoints) using ($currentPrefix, $prefix) {
    $previousPrefix: getPreviousPrefix($breakpoints, $currentPrefix);
    $grid: ("grid-column", "grid-row");

    > .#{$slug}-col {
      @each $property in $grid {
        $values: ();

        $previousBreakpoint: if(
          $prefix == "",
          0,
          var(--get-#{$property}#{$previousPrefix})
        );

        --get-#{$property}#{$prefix}: var(
          --#{$property}#{$prefix},
          #{$previousBreakpoint}
        );

        $value: var(--get-#{$property}#{$prefix}, #{$previousBreakpoint});

        $values: append($values, $value, space);

        #{$property}: $values;
      }

      @include setGirdColWidth($prefix, $columns, $slug);
      @include setGridRowsHeight($prefix, $columns, $slug);
    }
  }
}
